<br> 
<br>
<h1 style="font-weight: 500;">Home Page Of SoulMate App</h1>
<br>

<h2>Please Choose What you want to do</h2>
<br> <br>
<!-- <button mat-button><a routerLink="/home"> Home </a></button> -->
1. <button mat-raised-button color="primary" routerLink="/search"> Search Your Soulmate </button>
<br> <br> <br>
2. <button mat-raised-button color="primary" routerLink="/register">Create a New Account</button>
<br> <br> <br>
3. <button mat-raised-button color="primary" routerLink="/login">Log In to existing Account</button>
<br> <br>
<img src="https://st2.depositphotos.com/14490296/47359/v/950/depositphotos_473599926-stock-illustration-teenager-boy-and-girl-student.jpg?forcejpeg=true" alt="boy girl image" 
style="height: 650px; width:700px; padding-left: 450px; margin-top: -420px;">